{% extends 'layouts/app.html' %}

{% block title %} {{ admin.name }} {% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome {{ admin.name }}</h1>


  {% for phone in phones %}
    <p> phone : {{phone.phone}}</p>
    <p> landline : {{phone.lindline}}</p>
    <hr>
  {% endfor %}

  <img src="{{ admin.image.url }}" >






  <form class="row g-3" method="POST" action="{% url 'adminroute' admin.name.split|join:"_" admin.id  %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="id_name" class="form-label">name</label>
      {{form.name}}
      <span class="text-danger"> {{form.name.errors}}</span>
    </div>
    <div class="col-md-6">
      <label for="id_email" class="form-label">email</label>
      {{form.email}}
      <span class="text-danger"> {{form.email.errors.as_text}}</span>
    </div>
    <div class="col-md-12">
      <label for="id_password" class="form-label">password</label>
      {{form.password}}
      <span class="text-danger"> {{form.password.errors}}</span>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="id_image">Upload</label>
      <input type="file" class="form-control" name="{{ form.image.name }}" />
      <span class="text-danger"> {{form.image.errors}}</span>
    </div>

    <div class="col-md-12">
      <div class="form-check">
      {{form.is_main}}
      <span class="text-danger"> {{form.is_main.errors}}</span>
      <label class="form-check-label" for="id_is_main">
        Check me out
      </label>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>

{% endblock %}
